<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golf</title>
    {% load static %}
    <script type="module" src="{% static 'DotPad_CSUNdemo_chart2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <h1>Dot Code</h1>
        <div class="header-right">
            <button class="h_button" id="s4">Send</button>
        </div>
        <div class="header-right">
            <button class="h_button" id="connectbutton">Connect</button>
            <button class="h_button" id="disconnectbutton">Disconnect</button>
        </div>
    </header>
    <main>
        <p>Use the buttons above to connect, send data, or disconnect from the DotPad device.</p>
    </main>
</body>
</html>
